<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>

<body>
    <div class="wrapper mt25">
        {{!-- Блок страницы --}}
        {{{ body }}}
    </div>
</body>

</html>