<a href="/profile" class="mini-profile">
    <img class="avatar" src="{{ @root.avatar }}">
    <div class="info">
        <div class="nickname">{{ @root.nickname }}</div>
        <div class="name">{{ @root.name }}</div>
    </div>
</a>