{{!-- <div id="modal_post" class="modal hide"> --}}
<div id="modal_post" class="modal hide">
    <div class="wrapper">
        <div class="content">
            <img id="full_photo" src="{{ @root.avatar}}">
        </div>

        <div class="info">
            {{!-- Шапка полного поста --}}
            {{>full_post/header}}

        </div>
    </div>
</div>